@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@plugin "daisyui";

@plugin "daisyui/theme" {
	name: 'light';
	color-scheme: light;
	--color-base-100: oklch(92.87% 0.003 197.1);
	--color-base-200: oklch(81.09% 0.009 196.98);
	--color-base-300: oklch(69.29% 0.014 196.84);
	--color-base-content: oklch(16.15% 0.003 196.83);
	--color-primary: oklch(71.9% 0.089 193.49);
	--color-primary-content: oklch(16.15% 0.003 196.83);
	--color-secondary: oklch(59.68% 0.078 193.04);
	--color-secondary-content: oklch(16.15% 0.003 196.83);
	--color-accent: oklch(48.51% 0.061 193.83);
	--color-accent-content: oklch(92.87% 0.003 197.1);
	--color-neutral: oklch(47.6% 0.014 196.7);
	--color-neutral-content: oklch(98% 0 0);
	--color-info: oklch(76.97% 0.067 194.63);
	--color-info-content: oklch(16.15% 0.003 196.83);
	--color-success: oklch(59.68% 0.078 193.04);
	--color-success-content: oklch(16.15% 0.003 196.83);
	--color-warning: oklch(85.98% 0.055 193.32);
	--color-warning-content: oklch(26% 0.079 36.259);
	--color-error: oklch(52% 0.223 3.958);
	--color-error-content: oklch(92.87% 0.003 197.1);
	--radius-selector: 0.75rem;
	--radius-field: 0.75rem;
	--radius-box: 0.75rem;
	--size-selector: 0.25rem;
	--size-field: 0.28rem;
	--border: 1.5px;
	--depth: 1;
	--noise: 1;
}

@plugin "daisyui/theme" {
	name: 'dark';
	color-scheme: dark;
	--color-base-100: oklch(16.15% 0.003 196.83);
	--color-base-200: oklch(32.93% 0.011 196.64);
	--color-base-300: oklch(47.72% 0.017 196.59);
	--color-base-content: oklch(91.99% 0.008 207.14);
	--color-primary: oklch(67.19% 0.088 193.34);
	--color-primary-content: oklch(16.15% 0.003 196.83);
	--color-secondary: oklch(76.97% 0.067 194.63);
	--color-secondary-content: oklch(16.15% 0.003 196.83);
	--color-accent: oklch(85.98% 0.055 193.32);
	--color-accent-content: oklch(16.15% 0.003 196.83);
	--color-neutral: oklch(65.68% 0.024 196.54);
	--color-neutral-content: oklch(16.15% 0.003 196.83);
	--color-info: oklch(48.51% 0.061 193.83);
	--color-info-content: oklch(91.99% 0.008 207.14);
	--color-success: oklch(59.68% 0.078 193.04);
	--color-success-content: oklch(16.15% 0.003 196.83);
	--color-warning: oklch(36.88% 0.045 193.2);
	--color-warning-content: oklch(91.99% 0.008 207.14);
	--color-error: oklch(52% 0.223 3.958);
	--color-error-content: oklch(91.99% 0.008 207.14);
	--radius-selector: 0.75rem;
	--radius-field: 0.75rem;
	--radius-box: 0.75rem;
	--size-selector: 0.25rem;
	--size-field: 0.28rem;
	--border: 1.5px;
	--depth: 1;
	--noise: 1;
}

@theme {
	--font-heading: 'Crimson Pro', serif;
	--font-text: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Crimson Pro', serif;
}

input,
p,
textarea,
button {
	font-family: 'Montserrat', sans-serif;
}
