@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: 'light-mode';
  default: true;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: oklch(89% 0.008 236.85);
  --color-base-200: oklch(80.5% 0.017 236.85);
  --color-base-300: oklch(74.5% 0.023 236.85);
  --color-base-400: oklch(68.5% 0.023 236.85);
  --color-base-500: oklch(63% 0.021 236.85);
  --color-base-content: oklch(13% 0.004 236.91);
  --color-primary: oklch(60% 0.092 203.4);
  --color-primary-content: oklch(13% 0.004 236.91);
  --color-secondary: oklch(66.29% 0.1016 203.4);
  --color-secondary-content: oklch(13% 0.004 236.91);
  --color-accent: oklch(71.5% 0.11 203.4);
  --color-accent-content: oklch(13% 0.004 236.91);
  --color-neutral: oklch(27.5% 0.009 236.91);
  --color-neutral-content: oklch(91% 0.007 236.85);
  --color-info: oklch(68.5% 0.112 224.37);
  --color-info-content: oklch(13% 0.004 236.91);
  --color-success: oklch(68.4% 0.1089 186.42);
  --color-success-content: oklch(13% 0.004 236.91);
  --color-warning: oklch(48.99% 0.1064 355.34);
  --color-warning-content: oklch(92% 0.006 236.85);
  --color-error: oklch(68.5% 0.123 70.58);
  --color-error-content: oklch(13% 0.004 236.91);
  --radius-selector: 0.75rem;
  --radius-field: 0.75rem;
  --radius-box: 0.75rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 1;
  --noise: 1;
}
@plugin "daisyui/theme" {
  name: 'dark-mode';
  default: true;
  prefersdark: true;
  color-scheme: 'dark';
  --color-base-100: oklch(16% 0.005 236.91);
  --color-base-200: oklch(27.5% 0.009 236.85);
  --color-base-300: oklch(33.5% 0.011 236.85);
  --color-base-400: oklch(39.5% 0.013 236.85);
  --color-base-500: oklch(44.5% 0.015 236.85);
  --color-base-content: oklch(92% 0.006 236.85);
  --color-primary: oklch(50% 0.073 203.4);
  --color-primary-content: oklch(92% 0.006 236.85);
  --color-secondary: oklch(45% 0.069 203.4);
  --color-secondary-content: oklch(92% 0.006 236.85);
  --color-accent: oklch(39.5% 0.06 203.4);
  --color-accent-content: oklch(92% 0.006 236.85);
  --color-neutral: oklch(68.5% 0.023 236.85);
  --color-neutral-content: oklch(13% 0.004 236.91);
  --color-info: oklch(36.5% 0.059 224.37);
  --color-info-content: oklch(92% 0.006 236.85);
  --color-success: oklch(36.5% 0.058 186.42);
  --color-success-content: oklch(92% 0.006 236.85);
  --color-warning: oklch(42% 0.091 355.13);
  --color-warning-content: oklch(92% 0.006 236.85);
  --color-error: oklch(68.5% 0.123 70.58);
  --color-error-content: oklch(13% 0.004 236.91);
  --radius-selector: 0.75rem;
  --radius-field: 0.75rem;
  --radius-box: 0.75rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}
